{% extends 'layout.html' %}
<!--This html is a replacing extention of the 'main' block of layout.html.-->
<!--It allows users to inputes required information to create a new key.-->
<!--Including keyNumber, copyNumberStart, copyNumberEnd, depositValue, initalStatus, opens, room-->
{% block main %}
  <div class="container">
    <br/>
    <h1 class="text-center" style="color: #f0ad4e">Ajouter une clef</h1>
    <br/>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form class="" method="post" action="{{ url_for('resultAddKey') }}" onsubmit="return validateFormAddKey(this)">
          <fieldset>
            <div class="form-group">
              <label for='keyNumber' class="sr-only">Key Number: </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                  <input value="" type="text" class="form-control" name="keyNumber" placeholder="Numéro de clé: "/>
                </div><!-- end input-group-->
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->
            <div class="form-group">
              <label for='copyNumberStart' class="sr-only">Copy Number Starts at: </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-hourglass-start" aria-hidden="true"></i></span>
                  <input type="number" class="form-control" name="copyNumberStart" value="" placeholder="Les copies commence à numéro : "/>
                </div><!-- end input-group-->
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->
            <div class="form-group">
              <label for='copyNumberEnd' class="sr-only">Copy Number Ends at: </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-hourglass-end" aria-hidden="true"></i></span>
                  <input type="number" class="form-control" name="copyNumberEnd" value="" placeholder="Les copies termine à numéro : "/>
                </div><!-- end input-group-->
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->
            <div class="form-group">
              <label for="depositValue" class="sr-only">Value:</label>
              <div class="cols-sm-10">
                <select class="form-control selectpicker" name="depositValue">
                  <option selected disabled value="" class="text-hide">Sélectionnez un dépot et une pénalité pour perte de clé
                  </option>
                  <option value="0">Not Applicable</option>
                  <option value="20">Dépôt $ 20, pénalité de perte $ 100</option>
                  <option value="80">Dépôt $ 80, pénalité de perte $ 500</option>
                </select>
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->
            <div class="form-group">
              <label for="status" class="sr-only">Status:</label>
              <div class="cols-sm-10">
                <select class="form-control selectpicker" name="status">

                  <option disabled value="" class="text-hide">Choisisser l'état de la clé

                  </option>
                  <option selected>Disponible</option>
                  <option>Prêter</option>
                  <option>Disparu</option>
                  <option>Perdu</option>
                </select>
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->

            <div class="form-group">
              <label for="opens" class="sr-only">opens:</label>
              <div class="cols-sm-10">

                <select class="form-control selectpicker" name="opens" id="opens" onchange="displayAddKeyText();">
                  <option selected disabled value="" class="text-hide">Key opens</option>
                  <option>Door</option>
                  <option>Mailbox</option>
                  <option>Filing cabinet</option>
                  <option>Other</option>
                </select>
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->

            <div class="form-group">
              <label for="description" class="sr-only">Description</label>
              <div class="cols-sm-10">
                <input type="text" class="form-control" name="description" id="description" placeholder="Enter description" style="display:none;">
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->

            <div class="form-group">
              <label for='room' class="sr-only">of room: </label>
              <div class="cols-sm-10">
                <select class="form-control selectpicker" data-dropup-auto="false" name="room" data-live-seach="true" multiple>
                  <option selected disabled value="" class="text-hide">Objet</option>
                  {% for room in rooms %}
                    <option value="{{ room.0 }}">{{ room.1 }}</option>
                  {% endfor %}
                </select>
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->
            <br/>
            <div class="form-group"><!--for button submit-->
              <div class="cols-sm-10">
                <div class="text-center">
                  <button class=" btn btn-lg btn-warning" name="apply" type="submit"
                          onclick="return transactionConfirm()">Ajouter
                  </button>
                </div><!--end text-center-->
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->
          </fieldset>
        </form>
      </div><!--end cols-sm-6-->
      <div class="col-sm-3"></div>
    </div><!--end row-->
  </div><!--end container-->
{% endblock %}
