{% extends 'layout.html'%}

{% block main %}
<div class="container">
	 <br/>
  <h1 class="text-center" style="color: #f0ad4e">Add a Room</h1>
	<br/>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form class="" method="post" action="{{url_for('resultAddRoom')}}" onsubmit="return validateFormAddRoom(this)">
				<fieldset>

					<div class="form-group">
          <label for='room' class="sr-only">Add Room</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-building-o" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="room" placeholder="Room Number and Name"/>
            </div><!-- end input-group-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->

				<br/>

        <div class="form-group"><!--button submit-->
          <div class="cols-sm-10">
              <div class="text-center">
              <button class=" btn btn-lg btn-warning" name="apply" type="submit" onclick="return transactionConfirm()">Next</button>
              </div><!--end text-center-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->

			</fieldset>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div><!--end row-->
</div>
{% endblock %}