{% extends 'layout.html'%}

{% block main %}
<div class="container">
  <br/>
  <h1 class="text-center" style="color: #f0ad4e">Ajouter le type de clé</h1>
	<br/>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form class="" method="post" action="{{url_for('resultAddType')}}">
				<fieldset>
        <div class="form-group">
          <label for='type' class="sr-only">Key Type: </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="type" placeholder="type de clé"/>
            </div><!-- end input-group-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->
        
        <div class="form-group">
          <label for='value' class="sr-only">Value: </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-balance-scale" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="value" placeholder="valeur"/>
            </div><!-- end input-group-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->
          
        <div class="form-group">
          <label for='penalty' class="sr-only">Penalty: </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-meh-o" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="penalty" placeholder="peine"/>
            </div><!-- end input-group-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->
        
        <div class="form-group">
          <label for='daysLimit' class="sr-only">daysLimit: </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-sun-o" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="daysLimit" placeholder="Limitation de temps"/>
            </div><!-- end input-group-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->
        
				<br/>
					
        <div class="form-group"><!--button submit-->
          <div class="cols-sm-10">
              <div class="text-center">
              <button class=" btn btn-lg btn-warning" name="apply" type="submit">appliquer</button>
              </div><!--end text-center-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->
				</fieldset>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div><!--end row-->
</div>
{% endblock %}
