{% extends 'layout.html'%}

{% block main %}
<div class="container">
  <br/>
  <h1 class="text-center" style="color: #f0ad4e">Mises à jour d’information</h1>
	<br/>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form class="" method="post" action="{{url_for('infoChangeClient')}}" onsubmit="return validateFormChangeClient(this)">
				<fieldset>
				
					
				<div class="form-group">
					<label for="email" class="sr-only">Choisir un client</label>
					<div class="cols-sm-10">
					<select class="form-control selectpicker" data-live-search="true" name="email">
						<option selected disabled value="" class="text-hide">Choisir un client</option>
						{%for client in clients%}
						<option value="{{client[0]}}">{{client[1]}} {{client[2]}}, {{client[3]}}, {{client[4]}} {{client[5]}}, {{client[6]}}</option>
						{%endfor%}
					</select>
					</div>
				</div>
				
        
				<br/>
					
        <div class="form-group"><!--button submit-->
          <div class="cols-sm-10">
              <div class="text-center">
              <button class=" btn btn-lg btn-warning" name="apply" type="submit">Next</button>
              </div><!--end text-center-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->
				</fieldset>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div><!--end row-->
</div>
{% endblock %}
