{% extends 'layout.html' %}

{% block main %}
  <div class="container">
    <br/>
    <h1 class="text-center" style="color: #f0ad4e">Update a room</h1>
    <br/>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form class="" method="post" action="{{ url_for('resultUpdateRoom') }}"
              onsubmit="return validateFormInfoUpdateRoom(this)">
          <fieldset>

            <h3 class="text-center">{{ room.1 }}</h3>
            <br>

            <div class="form-group">
              <label for="address" class="sr-only">Room Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-map-signs" aria-hidden="true"></i></span>
                  <input class="form-control" name="address" value="{{ room.1 }}" placeholder="Room">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="keys" class="sr-only">Select keys to add to this room</label>
              <div class="cols-sm-10">
                <select class="form-control selectpicker" data-live-search="true" name="keys" multiple>
                  <option selected disabled value="" class="text-hide">Choose keys to add</option>
                  {% for key in keys %}
                    <option value="{{ key[0] }}">{{ key[0] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
                <label for="delete_keys" class="sr-only">Select keys to delete from this room</label>
                <div class="cols-sm-10">
                  <select class="form-control selectpicker" data-live-search="true" name="delete_keys" multiple>
                    <option selected disabled value="" class="text-hide">Choose keys to delete</option>
                    {% for key in delete_keys %}
                      <option value="{{ key[0] }}">{{ key[0] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


            <div class="form-group"><!--button submit-->
              <div class="cols-sm-10">
                <div class="text-center">
                  <button class=" btn btn-lg btn-warning" name="apply" type="submit"
                          onclick="return transactionConfirm()">Next
                  </button>
                </div><!--end text-center-->
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->

          </fieldset>

          <input type="hidden" name="roomID" value="{{ room.0 }}">
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div><!--end row-->
  </div>
{% endblock %}