{% extends 'layout.html' %}

{% block main %}
  <div class="container">
    <br/>
    <h1 class="text-center" style="color: #f0ad4e">delete a room</h1>
    <br/>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form class="" method="post" action="{{ url_for('resultDeleteRoom') }}">
          <fieldset>

            <h3>These keys will have their association with room {{ room.1 }} deleted. Are you sure you want to
              continue?</h3>

            <table class="table table-hover">
              <thead>
              <tr>
                <th>Key Number</th>
              </tr>
              </thead>
              <tbody>
              {% for key in keys %}
                <tr>
                  <!--key number-->
                  <td>{{ key[0] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <div class="form-group"><!--button submit-->
              <div class="cols-sm-10">
                <div class="text-center">
                  <button class=" btn btn-lg btn-warning" name="apply" type="submit"
                          onclick="return transactionConfirm()">Next
                  </button>
                </div><!--end text-center-->
              </div><!--end cols-sm-10-->
            </div><!--end form-group-->

          </fieldset>

        <input type="hidden" name="roomID" id="roomID" value="{{ room.0 }}">
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div><!--end row-->
  </div>
{% endblock %}