{% extends 'layout.html' %}

{% block main %}
  <div class="container">
    <br/>
    <h1 class="text-center" style="color: #f0ad4e">Invalid Deactivate</h1>
    <br/>
    <P class='text-center'>{{ client.0 }} {{ client.1 }} cannot be deactivated as they are currently holding keys:</P>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Key Number</th>
        <th>Copy Number</th>
        <th>Room</th>
        <th>Opens</th>
        <th>Lend date</th>
        <th>Expected return date</th>
      </tr>
      </thead>
      <tbody>
      {% for key in lentKeys %}
        <tr>
          <!--keyNumber-->
          <td>{{ key[0] }}</td>
          <!--copyNumber-->
          <td>{{ key[1] }}</td>
          <!--room-->
          <td>{{ key[2] }}</td>
          <!--opens-->
          <td>{{ key[3] }}</td>
          <!--lendDate-->
          <td>{{ key[4] }}</td>
          <!--expectedRetuenDate-->
          <td>{{ key[5] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


    <div class="text-center">
      <a href="{{ url_for('deactivateClient') }}" class="btn btn-primary btn-md btn-warning">Back</a>
    </div>
    <br>

  </div>
{% endblock %}
