{% extends 'layout.html' %}

{% block main %}
  <div class="container">
    <br/>
    <h1 class="text-center" style="color: #f0ad4e">Désactivation invalide</h1>
    <br/>
    <P class='text-center'>{{ client.0 }} {{ client.1 }} cannot be deactivated as they are currently holding keys:</P>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Numéro de clef</th>
        <th>Numéro de copie</th>
        <th>Bureau</th>
        <th>Ouvre</th>
        <th>Date d'emprunt</th>
        <th>Date de retour prévue</th>
      </tr>
      </thead>
      <tbody>
      {% for key in lentKeys %}
        <tr>
          <!--keyNumber-->
          <td>{{ key[0] }}</td>
          <!--copyNumber-->
          <td>{{ key[1] }}</td>
          <!--room-->
          <td>{{ key[2] }}</td>
          <!--opens-->
          <td>{{ key[3] }}</td>
          <!--lendDate-->
          <td>{{ key[4] }}</td>
          <!--expectedRetuenDate-->
          <td>{{ key[5] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


    <div class="text-center">
      <a href="{{ url_for('deactivateClient') }}" class="btn btn-primary btn-md btn-warning">Retourner</a>
    </div>
    <br>

  </div>
{% endblock %}
