{% extends 'layout.html'%}
<!--This html is a replacing extention of the 'main' block of layout.html.-->
<!--It allows users to choose keyNumber from a list of available ones.-->
<!--There's two invisivle input slots, keyNumber and depositValue, is passed from fomer step form-->
{% block main %}
<div class="container">
  <br/>
  <h1 class="text-center" style="color: #f0ad4e">Prét d'une clef</h1>
	<br/>
  <div class="row">
    <div class="col-sm-3"></div>	
    <div class="col-sm-6">
      <form method="post" action="{{url_for('infoLend')}}" onsubmit="return validateFormLend(this)">
				<fieldset>
					
				<div class="form-group">
					<label for="keyNumber" class="sr-only">keyNumberSelection</label>
					<div class="cols-sm-10">
						<select class="form-control selectpicker" data-live-search="true" name="keyNumber">
							<option selected disabled class="text-hide" value="">Choisissez une clef à emprunter</option>
							{%for key in keys%}
							<option value="{{key[0]}}">{{key[0]}}</option>
							{%endfor%}
						</select>
					</div><!--end cols-sm-10-->
				</div><!--end form-group-->
					
				<br/>
					
        <div class="form-group"><!--button submit-->
          <div class="cols-sm-10">
          	<div class="text-center">
            	<button class=" btn btn-lg btn-warning" type="submit">Suivant</button>
          	</div><!--end text-center-->
          </div><!--end cols-sm-10-->
        </div><!--end form-group-->
					
				</fieldset>
      </form>
    </div><!--end col-sm-6 -->
    <div class="col-sm-3"></div>
  </div><!--end row-->
</div><!--end container-->
{% endblock %}

