{% extends 'layout.html'%}

{% block main %}
	<div class="container">
		<br/>
		<h1 class="text-center" style="color: #f0ad4e" id="top">Rapport de clef par date de retour</h1>
		<br/>
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Numéro de clef</th>
					<th>Numéro de copie</th>
					<th>Date d'emprunt</th>
					<th>Date de retour</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Numéro de téléphone</th>
					<th>Courriel</th>
				</tr>
			</thead>
			<tbody>
				{%for key in keys%}
				<tr>
					<!--Key Number-->
					<td>{{key[0]}}</td>
					<!--Kopy Number-->
					<td>{{key[1]}}</td>
					<!--lend Date-->
					<td>{{key[2]}}</td>
					<!--due date-->
					<td>{{key[3]}}</td>
					<!--first Name-->
					<td>{{key[4]}}</td>
					<!--last Name-->
					<td>{{key[5]}}</td>
					<!--phoneNumber-->
					<td>{{key[6]}}</td>
					<!--email-->
					<td>{{key[7]}}</td>
				</tr>
				{%endfor%}
			</tbody>
			</table>
    <br>
    <div class="text-center">
      <a href="#top" class="btn btn-primary btn-md btn-warning">Top</a>
    </div>
    <br>
	</div>
{% endblock %}
