{% extends 'layout.html'%}

{% block main %}
	<div class="container">
		<br/>
		<h1 class="text-center" style="color: #f0ad4e">Mise a jour de clef</h1>
		<br/>
			<table class="table table-hover">
			<thead>
				<tr>
					<th>Numéro de clef</th>
					<th>Numéro de copie</th>
					<th>Dépôt</th>
					<th>Ouvre</th>
					<th>État</th>
					<th>Bureau</th>
				</tr>
			</thead>
			<tbody>
				{%for key in keys%}
				<tr>
					<!--Key Number-->
					<td>{{key[0]}}</td>
					<!--Kopy Number-->
					<td>{{key[1]}}</td>
					<!--Deposit Amount-->
					<td>{{key[2]}}</td>
					<!-- opens-->
					<td>{{key[3]}}</td>
					<!-- status -->
					<td>{{key[4]}}</td>
					<!-- Room -->
					<td>{{room}}</td>
				</tr>
				{%endfor%}
			</tbody>
			</table>
			<br/>
	</div>
{% endblock %}
