{% extends 'layout.html'%}

{% block main %}
	<div class="container">
		<br/>
		 <h1 class="text-center" style="color: #f0ad4e">Report keys by room</h1>
		<br/>
				<P class="text-center">{{room.1}} binding with keys:</P>
		<br/>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Key Number</th>
					<th>Copy Number</th>
					<th>Opens</th>
				</tr>
			</thead>
			<tbody>
				{%for key in keys%}
				<tr>
					<!--key number-->
					<td>{{key[0]}}</td>
					<!--copy number-->
					<td>{{key[1]}}</td>
					<!--opens-->
					<td>{{key[2]}}</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
    <br>
    <a href="{{ url_for('reportKeysbyRoom') }}" class="btn btn-primary btn-md btn-warning">Back</a>
    <br>
	</div>
{% endblock %}
