{% extends 'layout.html'%}
<!--This html is a replacing extention of the 'main' block of layout.html.-->
<!--It shows returned key information-->
{% block main %}
	<div class="container">
		<h3 class="text-center"><strong>FACULTÉ SAINT-JEAN</strong></h3>
		<h4  class="text-center">Formulaire de retour de clef</h4>
		<br/>
		<h5>Coordonnées du client</h5>
		<p class="uppercase">
			<!--name-->
			{{client[1]}} {{client[2]}}
			<!--street address-->
			<br/>{{client[3]}}
			<br/>{{client[4]}}, {{client[5]}}, {{client[6]}}
			<br/>{{client[7]}}
			<br/>{{client[0]}}
		</p>
				<p>Veuillez prendre connaisance de ces règlements concernant les dépôts sur les emprunts et retours de clef
				<br/>
			<br/>			Un montant de $20.00 est requis en dépôt pour chaque clef de bureau ou de salle
			<br/>			Un montant de $80.00 est requis en dépôt pour la clef de la porte d'entrée
			<br/>
			<br/>En cas de perte de clef empruntée ou si la clef n'est pas remise à la date obligatoire indiquée, les montants suivants vous seront facturés:
			<br/>
			<br/>			$100.00 pour chaque clef de bureau ou de salle
			<br/>			$500.00 pour la clef de la porte d'entrée
			<br/>
			<br/>De plus dans chaque cas votre dépôt ne sera pas remis
			<br/>Le remboursement se fera uniquement par chèque dans les 30 jours suivant le retour de la clef empruntée
				</p>
		<br/>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Numéro de clef</th>
					<th>Numéro de copie</th>
					<th>Moyen de paiement</th>
					<th>Date d'emprunt</th>
					<th>Date de retour</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<!--Key Number-->
					<td>{{keyNumber}}</td>
					<!--Deposit Amount-->
					<td>{{depositValue[0]}}</td>
					<!--Payment Method-->
					<td>cheque</td>
					<!--Lend Date-->
					<td>{{lendDate}}</td>
					<!--Return Date-->
					<td>{{returnDate}}</td>
				</tr>	
			</tbody>
		</table>
		<br/>
		<p>
			<br/>Signature de l'emprunteur:
			<br/>Admin: {{currentUser}}
			<br/>Initiales de la receptionniste
		</p>
	</div><a class='btn btn-warning' href='#' onclick="printInfo(this)">Print</a>
{% endblock %}
