<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="signin page doesn't share template layout.html">
    <meta name="author" content="Xingqi Guo">
    <link rel="icon" href="{{url_for('static', filename='favicon-key.ico')}}">

    <title>Clé</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='signin.css')}}" rel="stylesheet">
		
  </head>

  <body>
  {% include "messages.html" %}

    <div class="container">
			<!--flash message if any-->
      <form class="form-signin" action="{{ url_for('signin')}}" method="post">
						<h2 class="form-signin-heading text-warning">Clef</h2>
            <label for="inputEmail" class="sr-only">Courriel </label>
            <input type="text" name="Useremail" class="form-control" placeholder="Courriel" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="Password" class="form-control" placeholder="mot de passe" required>
            <div class="checkbox">
            </div>
            <button class="btn btn-primary btn-block btn-md btn-warning" type="submit">Connexion</button>
            <a href="{{ url_for('getResetLink') }}" class="btn btn-primary btn-block btn-md btn-warning">Réinitialiser votre mot de passe</a>
        </form>
				{% if error %}<p class='error' align='center'><strong>Error: </strong> {{error}}{% endif%}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename='ie10-viewport-bug-workaround.js')}}"></script>
  </body>
</html>
